In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv("Train.csv")
train_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35
...,...,...,...,...,...,...,...,...
284775,3408,1706,1081,6,2011-03-01 12:07:00,1.65,17965.0,35
284776,13982,2184,2947,16,2011-10-13 15:08:00,0.65,16793.0,35
284777,6641,667,3632,4,2011-05-16 12:59:00,8.50,14755.0,35
284778,13820,1576,3089,48,2011-10-11 14:18:00,3.45,14866.0,35
284779,11042,2603,1156,2,2011-08-22 13:30:00,0.75,17585.0,35

In [3]:
test_data = pd.read_csv("Test.csv")
test_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,CustomerID,Country
0,3139,1709,1079,3,2011-02-22 15:22:00,16161.0,35
1,617,510,3457,1,2010-12-08 12:46:00,17341.0,35
2,14653,604,694,36,2011-10-25 13:53:00,15158.0,35
3,8634,1478,3473,2,2011-06-27 12:38:00,16033.0,35
4,15546,3216,871,1,2011-11-06 16:14:00,15351.0,35
...,...,...,...,...,...,...,...
122044,7813,2487,1289,12,2011-06-09 09:44:00,15214.0,35
122045,8694,3069,217,16,2011-06-28 15:47:00,16200.0,35
122046,915,1419,3474,6,2010-12-13 12:26:00,15555.0,35
122047,8156,1631,1434,1,2011-06-16 12:45:00,15907.0,35
122048,12020,2088,706,3,2011-09-12 13:50:00,16360.0,35

In [4]:
features = ['InvoiceNo','StockCode','Description','Quantity','CustomerID']
X = pd.get_dummies(train_data[features])
y = train_data["UnitPrice"]

In [5]:
features1 = ['InvoiceNo','StockCode','Description','Quantity','CustomerID']
X_test = pd.get_dummies(test_data[features1])

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [8]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
predictions = lm.predict(X_test)
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

RMSE: 31.611876762127384

In [12]:
result = pd.DataFrame(data=predictions)
result.head()

          0
0  0.607545
1  5.220789
2  2.443800
3  4.937146
4  6.058244

In [14]:
result.to_csv('MachineHack_Prediction_2.csv')

In [15]:
result.shape

(113912, 1)

In [2]:
pip install pandas --upgrade

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/9c/4d/4938a43970778cffecc10a82824a166f08d687d935afe7d04484cd489940/pandas-1.1.4-cp37-cp37m-win_amd64.whl (8.7MB)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in c:\users\gsati\anaconda3\lib\site-packages (from pandas) (1.17.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\gsati\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\gsati\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\gsati\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.25.2
    Uninstalling pandas-0.25.2:
      Successfully uninstalled pandas-0.25.2
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\gsati\\anaconda3\\lib\\site-packages\\~andas\\io\\msgpack\\_packer.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [ ]:
pip install numpy --upgrade

In [ ]:
conda update --all