In [13]:
import pandas as pd

In [14]:
train = pd.read_csv('Train.csv')
train.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35
5,17388,495,3247,5,2011-11-27 12:52:00,1.65,15351.0,35
6,18494,165,3377,1,2011-12-08 20:01:00,1.25,12748.0,35
7,17109,2597,3435,1,2011-11-23 12:40:00,1.25,16255.0,35
8,17143,1945,2352,1,2011-11-23 14:07:00,5.75,17841.0,35
9,8422,3311,2502,6,2011-06-22 10:11:00,2.95,13849.0,35

In [15]:
x = train.loc[:,('StockCode','Country','Country')]
y = train.loc[:,('UnitPrice')]

In [16]:
train.nunique()

InvoiceNo      20971
StockCode       3619
Description     3819
Quantity         373
InvoiceDate    19451
UnitPrice        524
CustomerID      4339
Country           37
dtype: int64

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284780 entries, 0 to 284779
Data columns (total 8 columns):
InvoiceNo      284780 non-null int64
StockCode      284780 non-null int64
Description    284780 non-null int64
Quantity       284780 non-null int64
InvoiceDate    284780 non-null object
UnitPrice      284780 non-null float64
CustomerID     284780 non-null float64
Country        284780 non-null int64
dtypes: float64(2), int64(5), object(1)
memory usage: 17.4+ MB

In [18]:
test = pd.read_csv('Test.csv')
test.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,CustomerID,Country
0,3139,1709,1079,3,2011-02-22 15:22:00,16161.0,35
1,617,510,3457,1,2010-12-08 12:46:00,17341.0,35
2,14653,604,694,36,2011-10-25 13:53:00,15158.0,35
3,8634,1478,3473,2,2011-06-27 12:38:00,16033.0,35
4,15546,3216,871,1,2011-11-06 16:14:00,15351.0,35

In [19]:
x_test = test.loc[:,('StockCode','Country','Country')]

In [20]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(bootstrap=True, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
model.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [21]:
y_predict = model.predict(x_test)

In [22]:
final = pd.DataFrame(y_predict)

In [23]:
new_data=train['UnitPrice']
new_data=new_data[0:122049]
new_data

0         3.75
1         1.95
2         5.95
3         0.83
4         1.65
          ...
122044    4.95
122045    9.95
122046    0.85
122047    1.65
122048    1.25
Name: UnitPrice, Length: 122049, dtype: float64

In [24]:
from sklearn import metrics
print('RMSE:', np.sqrt(metrics.mean_squared_error(new_data, final)))

RMSE: 30.725795897286268

In [25]:
final.to_csv('MachineHack_Prediction_4.csv',index = False)

In [26]:
pd.read_csv('MachineHack_Prediction_4.csv')

                0
0        1.650000
1        1.190158
2        3.872586
3        1.645223
4       12.602739
...           ...
122044   0.380452
122045   1.681480
122046   1.278285
122047   3.785453
122048   4.171170

[122049 rows x 1 columns]